html{
    background: url('../images/fondo-tienda.jpeg') no-repeat center center;
    background-size: cover;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el mínimo alto del cuerpo al 100% de la altura de la ventana */
    overflow-x: hidden;
}
/* Cuando la pantalla es mas pequeña */
@media screen and (max-width: 768px) {
   
   #navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px 10px;
    height: 4vh;
}
    #navbar ul {
        flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos en la columna */
        margin-left: 0;
    }
    #nombre-empresa{
        position: absolute;
        top: 4vmin;
        left: 2rem;
        color: white;
        font-weight: bold;
        
    }
    button#botonNav{
        position: absolute;
        top: 4vmin;
        left: 0;
    }
    a.boton-compartir{
        position: absolute;
        top: 4vmin;
        left: 12rem;
    }
    #navbar li{
        padding: 5px;
    }

    #navbar a{
        font-size: 16px;
    }
    #search input{
        margin-left: 0;
    }
    div#search{
        position: absolute;
        top: 8vmin;
        left: 2rem;
    }

    /* Ocultamos el video de YT para dispositivos pequeños */
    .video-iframe, .imagen-container video, #audio, #background-video, button.botonAudio {
        display: none; /* Oculta el iframe en dispositivos pequeños */
    }

    .ofertas {
        font-size: 100px;
    }
    .imagen-div1{
        flex-direction: column;
    }
    .imagen-container{
        width: 100%;
        margin: 0.5rem 0;
    }
   
    footer{
        padding: 20px;
        text-align: center;
    }
   
    .imagen-container {
        position: relative;
        width: 300px;
        height: 500px;
        margin: 0.5rem;
    }
 

  
}
/* Media query para dispositivos medianos */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #background-video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1; /* Coloca el video detrás del contenido */
    }
    #nombre-empresa{
        position: absolute;
        top: 1.5vmin;
        left: 2rem;
        color: white;
        font-weight: bold;
        
    }
    button#botonNav{
        position: absolute;
        top: 1.5vmin;
        left: 0;
    }
    div#search{
        position: absolute;
        top: 2vmin;
        left: 18rem;
    }
    a.boton-compartir{
        position: absolute;
        top: 3.3vmin;
        left: 47rem;
    }
    img.boton-tienda{
        position: absolute;
        top: 3.3vmin;
        left: 45rem;
    }
    
   
     /* Ocultamos el video de YT para dispositivos pequeños */
    .video-iframe, .imagen-container video, #audio, button.botonAudio {
        display: none; /* Oculta el iframe en dispositivos pequeños */
    }
    .imagen-div{
        visibility: hidden;
    }
    .imagen-div1{
    flex-direction: row;
    }
    
    .imagen-container video{
            position: absolute;
            top: 0;
            left: 1vmin;
            
    }

    .ofertas{
            animation: glitch 1s linear infinite;
            color: white;
    }
    
    @keyframes glitch{
        2%,64%{
        transform: translate(2px,0) skew(0deg);
        }
        4%,60%{
        transform: translate(-2px,0) skew(0deg);
        }
        62%{
        transform: translate(0,0) skew(5deg); 
        }
    }
    
    .ofertas:before,
    .ofertas:after{
        content: attr(title);
        position: absolute;
        left: 0;
    }
    
    .ofertas:before{
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }
    
    @keyframes glitchTop{
        2%,64%{
        transform: translate(2px,-2px);
        }
        4%,60%{
        transform: translate(-2px,2px);
        }
        62%{
        transform: translate(13px,-1px) skew(-13deg); 
        }
    }
    
    .ofertas:after{
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }
    
    @keyframes glitchBotom{
        2%,64%{
        transform: translate(-2px,0);
        }
        4%,60%{
        transform: translate(-2px,0);
        }
        62%{
        transform: translate(-22px,5px) skew(21deg); 
        }
    }
   
}

/* Media query para dispositivos grandes  */
@media screen and (min-width: 1025px) {
    .imagen-div {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .video-iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #background-video{
        display: none;
    }
    /*enlace YT: https://www.youtube.com/watch?v=knQ4K0Gqm88&pp=ygUQc2hvcCBwcm9tbyB2aWRlbw%3D%3D*/
   

}
/************ FIN MEDIAQUERY GRANDE ****************/
#navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px 10px;
    height: auto;
}
#search input,#navbar a {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#search input.show,#navbar a.show {
    opacity: 1;
    display: initial;
}
#botonNav {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 1vw;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 51vw;
    margin-top: 3px;
}

#navbar li {
    margin: 0;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: none;
}

#navbar a:hover {
    color: gray;
}

#search input {
    padding: 5px;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 5%;
    display: none;
}

#navbar img {
    max-height: 25px;
    margin-top: -5px;
}


#nombre-empresa {
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

/* Estilos section */
section {
    flex: 1; /* Hace que este contenedor crezca y ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
}

.imagen-div {
    width: 100%;
    height: 400px;
    background: url('../images/ropa-percha.jpeg')no-repeat center center;
    background-size: cover;
    
}
/** estilos animaciones para ofertas **/

.ofertas {
    font-size: 15vw;
    font-weight: bold;
    backdrop-filter: blur(10px); /* Aplicar un desenfoque de 10px */
    text-align: center;
}

  

/*****************************************/
/***** audio ********/
#audio {
    position: fixed;
    bottom: 93.5%;
    left: 40%;
    color: white; 
    text-align: center;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    z-index: 1001;
    display: none;
}
button.botonAudio {
    position: fixed;
    bottom: 96%;
    left: 2%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: url("../images/music.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    z-index: 1001;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-name: MiAnimacion;
    animation-direction: alternate;
}

@keyframes MiAnimacion {
    0% {
        left: 2%;
    }

    100% {
        left: 8%; 
    }
}


/******************************************/
.imagen-div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-div1 a {
 padding: .5rem;  
}
.imagen-container {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0.5rem;
}
.imagen-container video{
    position: absolute;
    top: 0;
    left: .9vmin;
    
}

.imagen-container img {
    width: 100%;
    height: 100%;
}

.overlay-hombre,.overlay-mujer,.overlay-niño {
    position: absolute;
    left: 2.7499%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    color: white;
    width: 86.6%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imagen-container:hover .overlay-hombre,.imagen-container:hover .overlay-mujer,.imagen-container:hover .overlay-niño {
    opacity: 1;
}



/* Estilos para el footer */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}


footer a {
    color: white; 
    text-decoration: none;
    margin: 0 10px; 
}

footer a:hover {
    color: gray;
}
/********************/
.enlaces-footer {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 45%;
    float: left;
}
.cuenta-footer{
    list-style: none;
    padding: 0px;
    text-align: right;
    margin-right: 1%;
    width: 45%;
    float: right;

}

.enlaces-footer, .cuenta-footer li {
    margin: 6px 0; /* Añade un espacio entre los elementos de la lista */
}

.enlaces-footer, .cuenta-footer a {
    text-decoration: none; 
    color: #fff; 
}

.enlaces-footer, .cuenta-footer a:hover {
    color: #ccc; 
}
.redes-sociales{
    clear: both; /* Hace que el elemento no pueda estar al lado de ningún elemento flotante */
    text-align: center; 
    float: right;
    margin-right: 1%;
    padding: 0px 10px;
}
.redes-sociales img{
    max-height: 25px;
}